body {
    background-image: url("/images/bg-edited.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 1;
    margin: 0 !important;
    padding: 0 !important;
}

#logo {
    height: 15%;
    width: 15%;
    top: 0;
    z-index: 1;
    margin-left: 42.5%;
}

#rendy {
    margin-top: 5px;
}

#navi {
    display: inline-block;
    height: 10%;
    position: relative;
    left: 12.5%;
    width: 75%;
    margin: 0 !important;
    padding: 0 !important;
    border-style: outset;
}

.bTile {
    float: left;
    width: 16.66%;
    background-image: url(/images/tileBlack.png);
}

.wTile {
    float: left;
    width: 16.67%;
    background-image: url(/images/tileWhite.png);
}
