#mark {
    float: left;
    width: 60%;
    font-size: large;
    height: 30%;
}

#Mpic {
    margin-left: 5%;
    width: 25%;
    height: 30%;
}

#john {
    float: right;
    width: 60%;
    font-size: large;
    height: 30%;
}

#Jpic {
    width: 25%;
    height: 30%;
}

.bio {
    display: inline-block;
    border: outset;
    padding: 1%;
}

h1 {
    text-decoration: underline;
}
