@page
@model BenefitsModel
@{
    ViewData["Title"] = "Benefits of Chess";
}
<body>
    <center>
        <div>
            <h1>Operations of the Young, Creative Mind:</h1>
            <h2>Building Skills and Managing Failure in the Game of Chess</h2>
            <h3>Rebekah White</h3>
            <p>
                In his 1951 memoir Speak, Memory, novelist/professor Vladimir Nabokov made a
                compelling argument for the game of chess as a creative exercise, recalling his use of the game
                in thinking of narrative: chess problems have “points of connection with various other, more
                overt and fruitful, operations of the creative mind”. Indeed, for Nabokov—and for practitioners
                of the game for centuries beforehand—chief attractions to chess included, among its practical
                instruction in military tact and problem-solving, “the same virtues that characterize all
                worthwhile art: originality, invention, conciseness, harmony, [and] complexity” (Gezari, 151).
            </p>
            <p>
                The conclusions of more recent literature regarding improved cognitive ability due to
                chess instruction are mixed. Dr. William Bart, researcher, psychologist, and professor of the
                Department of Educational Psychology at the University of Minnesota, acknowledges this in his
                2014 article, “On the Effect of Chess Training on Scholastic Achievement”, in which he provides
                a critical review of studies on the subject. By citing studies which focus upon mathematics scores
                achieved by school-aged children who are instructed in chess, however, Bart provides strong
                reasoning in favor of the cognitive benefits of chess. For example, a 2000 study by Smith and
                Cage concluded that a group of children who began chess instruction “scored higher in
                mathematics achievement and non-verbal cognitive activity” compared to those who had not; a
                similar comparative study by Aciego et. al. in 2012 compared the mathematics scores of two
                groups of children who participated in either chess instruction or in sports after school. The study
                found that the children who were taught chess earned higher scores on a mathematics test
                administered to both groups.
            </p>
            <p>
                In agreement with Bart’s critical review, Giovanni Sala and Fernand Gobet of the
                Department of Psychological Sciences at the University of Liverpool have conducted and
                published a meta-analysis to answer the same question: “Do the benefits of chess instruction
                transfer to academic and cognitive skills?”. Their conclusion: while an abundance of literature
                upholding this hypothesis is still lacking, chess still requires decision-making skills and high-
                level processes which, if not directly related to school performance, can directly and positively
                influence these cognitive abilities which, in school-age children, are still in earlier stages of
                development. Citing Costa and Kallick’s 2009 study, however, mathematics and chess have
                several elements in common, promoting “suitable habits of mind”. In addition, Sala and Gobet’s
                conclusions were overwhelmingly positive, explaining that, through chess, children “train
                several context-independent skills”. These skills include strategies for problem-solving (such as
                focusing and interpreting), analyzing “game/problem situations, selecting relevant information,
                or looking for correct arguments” (48), as well as cognitive skills such as attention, and meta-
                cognitive-skills such as planning. (48).
            </p>
            <p>
                These studies showing an inclination towards increased mathematical performance
                indicates increased analytical skills; as Bart concluded in an interview at the London Chess
                Conference, chess “helps youngsters develop higher reasoning skills... and help maintain mental
                fitness”. But the creative development of young minds earlier cited by Nabokov is not to be
                disregarded; in another publication by Bart in 2016 exploring creativity in chess, the consensus
                more than half a decade later remains the same. In fact, just as analytical-thinking related to
                mathematics is prominent in the game, Bart contends that creativity is highly valued in the
                international chess community “at the level of individual moves, sequences, and game
                structures” (Bart 2016, 34).
            </p>
            <p>
                Working on each of these levels, the complexity of chess allows room for thinking
                “outside the box”: reason, game interpretation, and decision-making lend themselves to chess
                moves which are creative if they are “surprising and even counter-intuitive and [lead] to success”
                (Bart, 32). In chess instruction for children, creativity at the level of individual moves and
                sequences is often encouraged through chess puzzles; training both familiarity with the way
                chess works, as well as out-of-the-box thinking, is required to solve and create these puzzles.
                Aside from being an exciting exercise and a game within themselves, chess puzzles train, at a
                concentrated level, skills required for understanding how the game works. They perpetuate
                questions a student might ask while focused on finding a solution: “if I make this move, what
                other strategies and opportunities will this create? There are multiple moves which will gain
                something; which will gain most? What would the outcome be if I try something new?”
            </p>
            <p>
                The merging of analytical and creative skills through game interpretation and problem-
                solving involves skills which encourage success; however, as in any game of strategy, where
                there is success, there is also failure. While we seem to live in a competitive culture where
                failure is painted as a something personal, and with little to no outcome, chess redirects failure
                from a lack of success to an understanding of what one has yet to learn. While teaching children
                that not every decision will yield a successful result, failure and loss might be seen, potentially,
                as a step up, rather than a step down. As valuable as chess is to learning how to make the right,
                profitable decisions, chess also gives its students the courage and audacity to face a failure, loss,
                or mistake and ask themselves, “what can be learned from the decisions made? What can be
                done better next time?” Managing failure by redirecting it into a chance to learn rather than a
                chance to give up is a skill equally important to tactful, analytical, and creative thinking
                introduced and encouraged by chess instructors who work to see their students succeed.
            </p>
            <p>
                The merging of analytical and creative cognitive skills built through chess instruction
                may easily translate into real-life decision-making, problem-solving, reasoning, and
                interpretation skills, especially provided that chess is taught to school-aged children in the
                process of cognitive development. While recent studies proving the hypothesis that chess
                instruction directly relates to improvement in academic performance continue to develop, the
                benefits of chess instruction are clear. A mental exercise in managing both strategy and failure,
                chess instruction for children encourages cognitive growth in a range of skills which, as they are
                built, will be used for success in the game of chess and beyond.
            </p>
            <h2>References</h2>
            <p>
                Bart, William. “On the Interfaces Among Educational Technology, Creativity, and Chess.”
                Educational Technology, vol. 56, no. 6, 2016, pp. 31–35.
            </p>
            <p>
                Bart, William. “On the Effect of Chess Training on Scholastic Achievement.” Frontiers in
                Psychology, 8 Aug. 2014.
            </p>
            <p>
                Gezari, Janet. “Chess Problems and Narrative Time in ‘Speak, Memory.’” Biography, vol. 10,
                no. 2, 1987, pp. 151–162. JSTOR, www.jstor.org/stable/23539950.
            </p>
            <p>
                Sala, Giovanni, and Fernand Gobet. “Do the Benefits of Chess Instruction Transfer to Academic
                and Cognitive Skills? A Meta-Analysis.” Educational Research Review, 27 Feb. 2016,
                pp. 46–57.
            </p>
        </div>

    </center>
</body>