@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    716.342.4879<br />
    <abbr title="Email">E:</abbr> <a href="mailto:BuffaloChessAdademy2019@gmail.com">BuffaloChessAcademy2019@gmail.com</a><br />
    <abbr title="WeChat">WeChat:</abbr><br />
    MarkJJohnson<br />
    JohnJHanni<br />
</address>

