@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<style>
    #slogan{
        font-style: italic;
    }
</style>
<body>
    <center>
        <h1>Welcome to the Buffalo Chess Association!</h1>
        <h2 id="slogan">Balancing competition and fun!</h2>
        <h2>We strive to create a unique atmosphere for children of all ages in which we not only learn the game of chess but improve the skills that will help them to succeed at life.</h2>
    </center>
</body>