@page
@model ResourcesModel
@{
    ViewData["Title"] = "Links & Additional Resources";
}
<body>
    <center>
        <div>
            <h2>Links</h2>
            <p><a href="http://kidsplaychess.club/">Kids Play Chess</a> - Blurb about Kids Play Chess</p>
            <p><a href="http://www.rbcclife.info/">Rainbow Bridge</a> - Blurb about Rainbow Bridge.</p>
        </div>
        <div>
            <h2>Additional Chess Resources</h2>
            <p><a href="https://www.chesskid.com/">Chess Kid</a> - Blurb about ChessKid</p>
            <p><a href="https://lichess.org/">Lichess</a> - Blurb about Lichess</p>
            <p><a href="https://www.chess.com/">Chess.Com</a> - Blurb about Chess.com</p>
        </div>
    </center>
    
</body>